.services {
    z-index: 8;
    position: relative;
}

/* SERVICES */
.services {
    padding: 5rem 0;
}

.services-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.services-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    border-radius: $borders;
    overflow: hidden;
    height: 18rem;
}

.services-card .description {
    padding: 0 3rem;
}

.services-card h3 {
    margin-bottom: 1.5rem !important;
}

.services-card p {
    font-size: 1.125rem;
    padding-right: 1rem;
    margin-bottom: unset !important;
}

.services-card-img {
    border-top-right-radius: $borders;
    border-bottom-right-radius: $borders;
    overflow: hidden;

    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100%;
    min-width: 21rem;
}

.yellow-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba($primary, $opacity);
    opacity: 0;
    transition: .25s ease-in-out;
    z-index: 7;
}

.services-card:hover .yellow-overlay {
    opacity: 1;
}

.services-card:hover {
    box-shadow: unset !important;
    transition: .25s ease-in-out;
}

/* MEDIA QUERIES */
@include media-breakpoint-down(xl) {
    .services-card .description {
        padding: 0 1rem;
    }
}

@include media-breakpoint-down(lg) {
    .services-intro article {
        width: 75%;
    }

    .services-card .description {
        padding: unset;
    }

    .services-card p {
        font-size: 1rem;
    }
}

@include media-breakpoint-down(md) {
    .services-intro h1 {
        font-size: 4rem;
        line-height: 4.5rem;
    }

    .services-description p {
        font-size: 1rem;
    }

    .services-card {
        flex-direction: column-reverse;
        height: 28rem;
    }

    .services-card .description {
        margin-top: 1rem;
    }

    .services-card h3 {
        margin-bottom: 1rem !important;
    }

    .services-card p {
        padding-right: unset;
    }

    .services-card-img {
        border-top-right-radius: $borders;
        border-top-left-radius: $borders;
        border-bottom-right-radius: unset;
        min-width: unset;
        width: 100%;
    }
}

@include media-breakpoint-down(sm) {
    .services-intro article {
        width: 100%;
    }

    .services-rectangle {
        margin: 0 auto;
    }

    .services-intro h1 {
        font-size: 2.3rem;
        line-height: 2.5rem;
    }

    .services-intro h2 {
        font-size: .8rem;
        margin-bottom: 2rem !important;
    }

    .services-description p {
        margin: unset;
        width: 100%;
    }

    .services-card {
        width: 100%;
        margin: unset;
    }
}