/* INTRO */
.service-intro {
    background-image: url('/img/background/background.JPG');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    padding: 2rem 0;
}

.service-intro article {
    background-image: linear-gradient(to left, rgba(255,0,0,0) 0%, $white 25%);
    width: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 7;
}

.service-rectangle {
    width: 287.04px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 4rem;
    border: .5rem solid $primary;
    border-radius: $borders;
}

.service-intro h1 {
    font-size: 5rem;
    line-height: 5.5rem;
    color: $accent;
}

.service-intro h2 {
    font-size: 1.125rem;
    margin-bottom: 3rem !important;
}

.service-intro h1, 
.service-intro h2 {
    white-space: nowrap;
    font-family: $font-family-alfa;
}

/* DESCRIPTION */
.service-description {
    background-image: linear-gradient(to top, rgba(255,0,0,0) 0%, $primary 25%);
    padding: 2rem 0;
}

.service-description p {
    margin: 0 auto;
    width: 80%;
    font-size: 1.2rem;
}

.service-description span {
    color: $accent;
}

.service-intro,
.service-description,
.service-rectangle {
    z-index: 8;
    position: relative;
}

/* SERVICE */
.service-gallery {
    padding: 5rem 0;
}

.service-row {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3rem;
}

.service-col {
    position: relative;
    cursor: pointer;
    border-radius: $borders;
    overflow: hidden;
}

/* GALLERY */ 
.gallery-wrapper {
    justify-content: center;
    align-items: center;
    gap: 2rem;
    display: none;
    padding: 5rem 1rem;
}

.one-image {
    width: 50%;
    overflow: hidden;
    border-radius: $borders;
}

.arrow-icons {
    height: auto;
    width: 2rem;
}

.yellow-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba($primary, $opacity);
    opacity: 0;
    transition: .25s ease-in-out;
    z-index: 7;
}

.service-col:hover .yellow-overlay {
    opacity: 1;
}

.service-col:hover {
    box-shadow: unset !important;
    transition: .25s ease-in-out;
}

/* MEDIA QUERIES */
@include media-breakpoint-down(xl) {
    .service-row {
        grid-template-columns: auto auto;
    }
    
    .one-image {
        width: 100%;
    }
}

@include media-breakpoint-down(lg) {
    .service-intro article {
        width: 75%;
    }
}

@include media-breakpoint-down(md) {
    .service-intro h1 {
        font-size: 4rem;
        line-height: 4.5rem;
    }

    .service-description p {
        font-size: 1rem;
    }

    .service-row {
        grid-template-columns: auto;
    }

    .gallery-wrapper {
        gap: 1rem;
    }
    
    .arrow-icons {
        width: 1.5rem;
    }
}

@include media-breakpoint-down(sm) {
    .service-intro article {
        width: 100%;
    }

    .service-rectangle {
        margin: 0 auto;
    }

    .service-intro h1 {
        font-size: 2.3rem;
        line-height: 2.5rem;
    }

    .service-intro h2 {
        font-size: .8rem;
        margin-bottom: 2rem !important;
    }

    .service-description p {
        margin: unset;
        width: 100%;
    }
}
