/* SERVICES */
.welcome-services {
    padding: 5rem 0;
}

.welcome-row {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3rem;
}
 
.welcome-card {
    position: relative;
    display: block;
    border-radius: $borders;
    overflow: hidden;
    height: 18rem;
}

.welcome-card-img {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100%;
}

.welcome-card-btn {
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 8;
}

.welcome-card p {
    background: rgba($secondary, $opacity);
    color: $white;
    font-size: 1.2rem;
    width: 100%;
    padding: .5rem 1rem;
    margin-bottom: unset;
}

.welcome-card-icon {
    background: $primary;
    padding: .5rem .8rem;
}

.welcome-card-icon img {
    height: auto;
    width: 1.2rem;
}

.welcome-services {
    z-index: 8;
    position: relative;
}

.yellow-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba($primary, $opacity);
    opacity: 0;
    transition: .25s ease-in-out;
    z-index: 7;
}

.welcome-card:hover .yellow-overlay {
    opacity: 1;
}

.welcome-card:hover{
    box-shadow: unset !important;
    transition: .25s ease-in-out;
}

/* MEDIA QUERIES */
@include media-breakpoint-down(xl) {
    .welcome-row {
        grid-template-columns: auto auto;
    }
}

@include media-breakpoint-down(lg) {
    .welcome-intro article {
        width: 75%;
    }
}

@include media-breakpoint-down(md) {
    .welcome-intro h1 {
        font-size: 4rem;
        line-height: 4.5rem;
    }

    .welcome-row {
        grid-template-columns: auto;
    }
}

@include media-breakpoint-down(sm) {
    .welcome-intro article {
        width: 100%;
    }

    .rectangle {
        margin: 0 auto;
    }

    .welcome-intro h1 {
        font-size: 2.3rem;
        line-height: 2.5rem;
    }

    .welcome-intro h2 {
        font-size: .8rem;
        margin-bottom: 2rem !important;
    }
}
