/* INTRO */
.welcome-intro {
    background-image: url('/img/background/background.JPG');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    padding: 2rem 0;
}

.welcome-intro article {
    background-image: linear-gradient(to left, rgba(255,0,0,0) 0%, $white 25%);
    width: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 7;
}

.rectangle {
    width: 287.04px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 4rem;
    border: .5rem solid $primary;
    border-radius: $borders;
}

.welcome-intro h1 {
    font-size: 5rem;
    line-height: 5.5rem;
    color: $accent;
}

.welcome-intro h2 {
    font-size: 1.125rem;
    margin-bottom: 3rem !important;
}

.welcome-intro h1, 
.welcome-intro h2 {
    white-space: nowrap;
    font-family: $font-family-alfa;
}

/* DESCRIPTION */
.welcome-description {
    background-image: linear-gradient(to top, rgba(255,0,0,0) 0%, $primary 25%);
    padding: 2rem 0;
}

.welcome-description p {
    margin: 0 auto;
    width: 80%;
    font-size: 1.2rem;
}

.welcome-description span {
    color: $accent;
}

/* SERVICES */
.welcome-services {
    padding: 5rem 0;
}

.welcome-row {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3rem;
}
 
.welcome-card {
    position: relative;
    display: block;
    border-radius: $borders;
    overflow: hidden;
}

.welcome-card-btn {
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 8;
}

.welcome-card p {
    background: rgba($secondary, $opacity);
    color: $white;
    font-size: 1.2rem;
    width: 100%;
    padding: .5rem 1rem;
    margin-bottom: unset;
}

.welcome-card-icon {
    background: $primary;
    padding: .5rem .8rem;
}

.welcome-card-icon img {
    height: auto;
    width: 1.2rem;
}

.welcome-intro,
.welcome-description,
.welcome-services,
.rectangle {
    z-index: 8;
    position: relative;
}

.yellow-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba($primary, $opacity);
    opacity: 0;
    transition: .25s ease-in-out;
    z-index: 7;
}

.welcome-card:hover .yellow-overlay {
    opacity: 1;
}

.welcome-card:hover{
    box-shadow: unset !important;
    transition: .25s ease-in-out;
}



/* MEDIA QUERIES */
@include media-breakpoint-down(xl) {
    .welcome-row {
        grid-template-columns: auto auto;
    }
}

@include media-breakpoint-down(lg) {
    .welcome-intro article {
        width: 75%;
    }
}

@include media-breakpoint-down(md) {
    .welcome-intro h1 {
        font-size: 4rem;
        line-height: 4.5rem;
    }

    .welcome-description p {
        font-size: 1rem;
    }

    .welcome-row {
        grid-template-columns: auto;
    }
}

@include media-breakpoint-down(sm) {
    .welcome-intro article {
        width: 100%;
    }

    .rectangle {
        margin: 0 auto;
    }

    .welcome-intro h1 {
        font-size: 2.3rem;
        line-height: 2.5rem;
    }

    .welcome-intro h2 {
        font-size: .8rem;
        margin-bottom: 2rem !important;
    }

    .welcome-description p {
        margin: unset;
        width: 100%;
    }
}
