// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-alfa: 'Alfa Slab One', cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #FFDF52;
$secondary: #575757;
$accent: #7E0F09;
$white: #fff;

// Styling
$borders: 1rem;
$opacity: .7;