header {
    position: fixed;
    z-index: 9;
    width: 100%;
    padding: .2rem 0;
    background: $white;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .logo div {
    width: 4rem;
}

header span {
    display: block;
    color: $accent;
}

header ul {
    display: flex;
    gap: 4rem;
}

.post-header {
    width: 75%;
    height: 100%;
    background: $white;
    float: right;
    padding: 1rem;
    display: none;
}

.post-header ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}

.header-mobile {
    display: none;
}

.header-pc a:hover {
    color: $primary !important;
    transition: .25s ease-in-out;
}

.logo span:hover {
    color: $primary !important;
    transition: .25s ease-in-out;
}

.post-header a:hover {
    color: $primary !important;
    transition: .25s ease-in-out;
}

@include media-breakpoint-down(md) {
    header .logo div {
        width: 3rem;
    }

    .header-pc {
        display: none;
    }

    .header-mobile {
        display: block;
    }
}